body {
  background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url(../img/Bg.jpg), no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.logo {
  display: inline-flex;
  font-size: 1.3em;
}
.navbar {
  padding: 30px 60px 10px;
  display: flex;
  justify-content: space-around;
}
.language-selection-log-in,
.a-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo,
.overview,
p,
.sign-up-button {
  font-weight: bold;
}
a {
  color: #fff;
  text-decoration: none;
}
.ul-links {
  display: inline-flex;
  list-style-type: none;
}
li {
  margin: 0 10px;
}
.styled-select select {
  background: transparent;
  width: 70px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  color: #fff;
}
.styled-select {
  width: 50px;
  overflow: hidden;
  background: url(../img/Vector.png) no-repeat right transparent;
}
option:checked {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
.login-button {
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  margin: 0 0 0 15px;
}
main {
  display: block;
  margin: 50px auto;
  text-align: center;
}
h1 {
  font-size: 5.5rem;
  padding-top: 50px;
}
p {
  font-size: 1.7em;
  line-height: 2;
  padding-bottom: 2em;
}
.sign-up-button {
  color: #ed4c5c;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 15px 50px;
}
